<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- ************Bootstrap CSS ******************-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Transfer</title>
  <style>
    .error {
      color: red;
      font-size: 0.7em;
      font-weight: bold;
    }
  </style>
</head>
<body>
<!-- **************************Navigation bar ***********************************-->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid ">
    <div class="row align-nav">
      <div class="col-4  d-flex flex-row justify-content-start">
        <a class="navbar-brand btn-success text-light rounded order-1 bold text-center p-2" href="#" id="logo">Pay
          My Buddy</a>
        <button class="navbar-toggler gray" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="col-4 d-flex justify-content-end">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav p-0">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:9090/home"><span class="navbar-brand mb-0 h1 ">Home</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"   aria-current="page" href="http://localhost:9090/index"><span class="navbar-brand mb-0 h1">Transaction</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="http://localhost:9090/profile"><span class="navbar-brand mb-0 h1">Profile</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="http://localhost:9090/contact"><span class="navbar-brand mb-0 h1">Contact</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#"><span class="navbar-brand mb-0 h1">Log off</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<!--************ link Transfer et Home /************-->
<div class="container-fluid gray py-2">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:9090/home">Home /</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link disabled" href="#">Transfer</a>
    </li>
  </ul>
</div>
<section>
  <!--************* Add Connection******************-->
  <div class="container col-10 p-3">
    <div class="row justify-content-between p-3 pb-0">
      <div class="col-sm-12 col-md-6 col-lg-8">
        <h5>Bank Transfer</h5>
      </div>
      <!--********Button Add Connection**********-->
      <!--Input which look like a button-->
      <input class="col-sm-12 col-md-4 col-lg-2 btn-primary btn-block text-light bold text-center rounded"
             type=button
             onclick=window.location.href="http://localhost:9090/index"; value="New Transaction"
             id="btnAddConnection"/>
    </div>
    <div class="container gray py-5 px-5">
      <!--********Item select A Connection***********-->
      <form name="formSelectUserEmailReceiver" id="formSelectFriend" action="#" th:action="@{/transfer}"
            th:object="${displayingTransfer}" method="post">
        <div class="row justify-content-center">
<!--          *****************Input Type transfer ************-->
          <div class="col-12 col-md-4 col-lg-2 mb-3 d-flex flex-column">
            <select th:field="*{type}"  aria-label="form-select-sm"
                    id="typeSelect">
              <option selected value="">Select A Type</option>
              <option selected value="credit">Credit</option>
              <option selected value="debit">Debit</option>
            </select>
            <p th:errors="*{type}"
               th:errorclass="error"></p>
          </div>
          <!--*************Input Number**************-->
          <div class="col-12 col-md-3 col-lg-2 mb-3 d-flex flex-column">
            <input th:field="*{amount}" class="text-right" type="number"
                   id="howmuch" step="0.01"
                   placeholder="0€" min="0" max="10000">
            <p th:if="${#fields.hasAnyErrors()}"
               th:errors="*{amount}"
               th:errorclass="error"></p>
          </div>
          <!--*****************Input description************-->
          <div class="col-12 col-md-5 col-lg-4 mb-3" >
                     <textarea th:field="*{description}" class="form-control"
                               id="exampleFormControlTextarea1"
                               rows="1"
                               placeholder="Description"></textarea>
          </div>
          <!--**************Button Pay******************-->
          <button type="submit" class="col-12 col-md-5 col-lg-2 mb-3 mx-3 btn btn-block btn-success  text-light bold"
                  id="btnPay">Transfer
          </button>


        </div>
      </form>
    </div>
    <h5 class="my-3">My Transfers</h5>
    <!-- ***************Table******************-->
    <table class="table table-condensed table-striped borderless mb-0">
      <thead class="thead-light btn-success text-light bold ">
      <tr>
        <th scope="col" class=" pt-4 pb-4">Description</th>
        <th scope="col" class=" pt-4 pb-4">Amount</th>
        <th scope="col" class=" pt-4 pb-4">Post-Trade Balance</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="transfer: ${transfers}">
        <td th:text="${transfer.description}">Description</td>
        <td th:text="${transfer.amount}">Amount</td>
        <td th:text="${transfer.postTradeBalance}">PostTradeBalance</td>
      </tr>
      </tbody>
    </table>
    <!--**********Navigation pagination**********  -->
    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only"></span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<!-- *******Option 1: Bootstrap Bundle with Popper ***********-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--***************footer******************-->
<footer></footer>
</body>
</html>